<div>
  <h1>Create a Message</h1>
  <h2>This message will go out to all the iOS kettens!</h2>

  <%= form_for @message do |f| %>
    <div class="row">
      <p>
        <%= f.label :content %>
        <%= f.text_area :content, rows: 3, class: "span8" %>
      </p>

    <p>
      <%= f.submit :class => "btn btn-success" %>
    </p>
  <% end %>
</div>


