<div class="row">
  <h1>New Songbook</h1>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <span class="btn btn-info btn-file">
        Browse <input id="songbook-file" type="file" />
      </span>
      <span id="songbook-file-label" class="file-label">Select a file to get started! -- Note: It's important that the file that is uploaded is a single column!</span>
      <div class="pull-right">
        <button id="songbook-stop" class="btn">
          <i class="icon-stop"></i>
        </button>
        <button id="songbook-refresh" class="btn">
          <i class="icon-repeat"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h6>Results</h6><%= image_tag("spinner_24.gif") %>
    <div class="well songbook-panel">
      <table class="table table-bordered">
        <thead>
          <tr><th>Artist</th><th>Title</th></tr>
        </thead>
        <tbody id="songbook-table-body">
        </tbody>
      </table>
    </div>
  </div>

  <div class="span4">
    <h6>Ignore List</h6>
    <div class="well songbook-panel">
      <div id="rtf-editor"></div>
    </div>
  </div>
</div>
