<h1><%= @songbook.name %></h1>

<%= link_to "Download Songbook File", @songbook.songbook_url %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @songbook.songs.each do |song| %>
      <tr><td><%= song.artist %></td><td><%= song.title %></td></tr>
    <% end %>
  </tbody>
</table>
