<h1><%= @songbook.name %> has <%= number_with_delimiter(@songbook.songs.count, delimiter: ',') %> songs</h1>

<script>
  $(function() {
    $('#songbook-table').DataTable({
      pageLength: 100,
      ajax: "/songbooks/<%= @songbook.id %>.json",
      columns: [
        { data: "artist" },
        { data: "title" },
        { data: "brand" },
      ]
    });
  });
</script>

<div class="row">
  <div class="span12">
    <h6>Results</h6>
    <div class="well songbook-panel">
      <div class="spinner"></div>
      <table id="songbook-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr><th>Artist</th><th>Title</th><th>Brand</th></tr>
        </thead>
        <tbody id="songbook-table-body">
        </tbody>
      </table>
    </div>
  </div>
</div>

