<div class="center hero-unit">
  <h1>Karaoke Songbooks Online</h1>

  <h2>
    The best place to put your karaoke songbooks online.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
