<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" id="logo">BKK</a>
      <nav>
        <ul class="nav pull-right">
          {{#linkTo 'songbooks'}}Songbooks{{/linkTo}}
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Songbooks</h1>
    <h2>Manage your songbooks here, eh?</h2>
    {{outlet}}
  </div>
</div>
